### C objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
examples/MSP430F6747A_FreeRTOS/.settings/org.eclipse.cdt.codan.core.prefs
examples/MSP430F6747A_FreeRTOS/.settings/org.eclipse.cdt.debug.core.prefs
examples/MSP430F6747A_FreeRTOS/.settings/org.eclipse.core.resources.prefs
examples/MSP430F6747A_FreeRTOS/Release/.gitignore
examples/MSP430F6747A_FreeRTOS/Release/examples/MSP430F6747A_FreeRTOS.map
examples/MSP430F6747A_FreeRTOS/Release/examples/MSP430F6747A_FreeRTOS.out
examples/MSP430F6747A_FreeRTOS/Release/examples/MSP430F6747A_FreeRTOS_linkInfo.xml
examples/MSP430F6747A_FreeRTOS/Release/ccsObjs.opt
examples/MSP430F6747A_FreeRTOS/Release/main.pp
examples/MSP430F6747A_FreeRTOS/targetConfigs/MSP430F6747A.ccxml
examples/MSP430F6747A_FreeRTOS/targetConfigs/readme.txt
